.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .page-title {
    text-align: center;
  }
  
  .post-article {
    border: 2px solid lightgray;
    border-radius: 2px;
    margin: 10%;
    padding: 10%;
  }